<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="footer-social">
    <a class="rss hidden" href="#">
      <i class="icon-rss"></i>
    </a>
    <a class="twitter" href="https://twitter.com/MayOneUS">
      <i class="icon-twitter"></i>
    </a>
    <a class="facebook" href="https://www.facebook.com/mayonedotus">
      <i class="icon-facebook"></i>
    </a>
    <a class="linkedin hidden" href="#"><i class="icon-linkedin"></i></a>
    <a class="gplus" href="https://plus.google.com/113369859819907761033/posts">
      <i class="icon-gplus"></i>
    </a>
    <a class="pinterest hidden" href="#">
      <i class="icon-pinterest"></i>
    </a>
    <a class="instagram hidden" href="#">
      <i class="icon-instagram"></i>
    </a>
    <a class="vimeo" href="https://vimeo.com/user187904">
      <i class="icon-vimeo"></i>
    </a>
    <a class="btt" href="#">
      <i class="icon-up-open-big"></i>
    </a>
  </div>
  <div class="copyright container">
    <div class="site-info">&copy; 2014 May One.
      <a href="http://creativecommons.org/licenses/by-sa/4.0">
        <img src="/cc80x15.png">
      </a>
    </div>
    <nav id="site-footer-navigation" class="footer-navigation">
      <div class="menu-footer-menu-container">
        <ul id="menu-footer-menu" class="nav-menu">
          <li id="menu-item-688" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-688">
            <a href="/contact">See a problem? Report it!</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="pac_disclaimer">Paid for by MayDay PAC
    <br>Not authorized by any candidate or candidate’s committee
    <br><a href="/">www.MayOne.us</a>
  </div>
  <br>
</footer>
{% include common/html/footer.html %}
