<div id="page" class="hfeed site">
  <div id="main" class="site-main">
    <div id="primary" class="content-area">
      <div id="content" class="campaign-content" role="main">

        <section id="widget_campaignify_hero_contribute-2"
                 class="not_on_direct_contributions campaign-widget widget_campaignify_hero_contribute arrowed">
          <div class="campaign-hero loading has-slideshow">
            <div class="campaign-hero-slider-item" style="width:100%;height:100%;position:absolute;z-index:10">
              <div class="campaign-hero-slider-info">
                <h2 class="campaign-hero-slider-title animated fadeInDown" style="font-family: 'Oswald',serif; font-size: 66.6667px;">
                  <div class="pledge_background" style="font-size:60%;">
                    {{slogan}}
                  </div>
                </h2>
              </div>
            </div>
            {% if show_ribbon %}
            <div class="ribbon-yellow" id="top-ribbon">
              {{ribbon}}
            </div>
            {% endif %}
            <div class="campaign-hero-donate-options animated fadeInDown">
              <div id="super-cool-progress-bar" class="donation-progress-bar">
                <span class="donation-progress-percent" id="super-cool-progress-bar-percent">Loading...</span>
                <span class="donation-progress-funded">
                  <span id="super-cool-progress-bar-funded"></span>
                  <span class="hide-mobile">Raised</span>
                </span>
                <span class="donation-progress-togo"    id="super-cool-progress-bar-togo"></span>
                <div class="donation-progress" style="width: 0%" id="super-cool-progress-bar-bar"></div>
              </div>
              <script src="/js/progress.js"></script>
              <div class="donation-donate">
                <a href="//pledge.mayone.us/pledge" class="button button-primary">Let's keep it going!</a>
              </div>
              <div class="donation-share">
                <span class="donation-share-text">Spread the Word:</span>
                <span class="donation-share-buttons">
                  <a id="twitter_link" href="#" target="_blank" onclick="javascript:window.open(twitter_link_url,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;">
                    <i class="icon-twitter"></i>
                  </a>
                  <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.mayone.us%2F" target="_blank" onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.mayone.us%2F','','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;">
                    <i class="icon-facebook"></i>
                  </a>
                  <a id="gplus_link" href="#" target="_blank" onclick="javascript:window.open(gplus_link_url,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;">
                    <i class="icon-gplus"></i>
                  </a>
                </span>
              </div>
            </div>
            <div class="campaign-hero-slider">
              <ul class="slides">
                {% for photo in page.slide_photos %}
                <li class="campaign-hero-slider-item">
                  <div class="campaign-hero-slider-info"></div>
                  <img src="{{photo}}" />
                </li>
                {% endfor %}
              </ul>
            </div>
            <div>
        </section>

        <section id="text-2" class="padding_1px campaign-widget widget_text arrowed">
          <CENTER>
            <div>
              <a href="/sign-up-to-our-mailing-list/" target="_blank" style="color:white;">
                <div class="sign-up">Sign up to our mailing list</div>
              </a>
              <a href="https://docs.google.com/forms/d/1LECXA6mNtMBbXe310GMob8whZ2ZkAsGePAQhTdASkFs/viewform"
                 target="_blank" style="color:white;">
                <div class="sign-up">Sign up to volunteer</div>
              </a>
            </div>
          </CENTER>
        </section>

        <section id="widget_campaignify_campaign_video-2"
                 class="not_on_direct_contributions campaign-widget widget_campaignify_campaign_video arrowed">
          <div class="container">
            <h3 class="campaign-widget-title">{{ pre_video }}</h3>
            <div class="campaign-video-wrapper">
              <iframe src="//player.vimeo.com/video/93299391" width="900" height="506" frameborder="0" title="Mayday PAC Launch" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
          You can also <a href="https://www.youtube.com/watch?v=qCcqkyRJl7M">view the video here</a>
        </section>

        <section id="text-3" class="campaign-widget widget_text arrowed">
          <div class="textwidget">
            {% include pledge_button.html %}
          </div>
        </section>

        <section id="text-4" class="campaign-widget widget_text arrowed">
          <h3 class="campaign-widget-title">the Idea</h3><div class="textwidget">
            <div class="frontpage_text">
              {{the_idea_text | markdownify}}
            </div>
            {% include pledge_button.html %}
          </div>
        </section>

        <section id="text-5" class="campaign-widget widget_text arrowed">
          <h3 class="campaign-widget-title">to &#8220;kickstart&#8221;</h3>
          <div class="textwidget">
            <div class="frontpage_text">
              {{to_kickstart_text | markdownify}}
            </div>
            {% include pledge_button.html %}
          </div>
        </section>

        <section id="text-6" class="campaign-widget widget_text arrowed">
          <h3 class="campaign-widget-title">2014</h3>
          <div class="textwidget">
            <div class="frontpage_text">
              {{y2014_text | markdownify}}
            </div>
            {% include pledge_button.html %}
          </div>
        </section>

        <section id="text-7" class="campaign-widget widget_text arrowed">
          <h3 class="campaign-widget-title">2016</h3>
          <div class="textwidget">
            <div class="frontpage_text">
              {{y2016_text | markdownify}}
            </div>
          </div>
        </section>

        <section id="text-8" class="campaign-widget widget_text arrowed">
          <h3 class="campaign-widget-title">MAYDAY.</h3>
          <div class="textwidget">
            <div class="frontpage_text"
                 style="font-size:200%; text-align:center; color:#FFFFFF;">
              {{mayday_text | markdownify}}
            </div>
            {% include pledge_button.html %}
          </div>
        </section>
          <div class="row-fluid">
          <a name="meaning_of_founders"></a>
                {{footnote_text | markdownify}}
           </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.50.0-2014.02.05'></script> <script type='text/javascript'>/*  */
  var _wpcf7 = {"loaderUrl":"https:\/\/mayone.us\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ...","cached":"1"};
  /*  */</script>
<script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.8'></script>
<script type='text/javascript' src='/wp-includes/js/masonry.min.js?ver=3.1.2'></script>
<script type='text/javascript' src='/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2'></script>
<script type='text/javascript' src='/wp-content/themes/campaignify/js/jquery.flexslider-min.js?ver=2.1'></script>
<script type='text/javascript' src='/wp-content/themes/campaignify/js/jquery.magnific-popup.min.js?ver=2.1.4'></script>
<script type='text/javascript' src='/wp-content/themes/campaignify/js/jquery.fittext.js?ver=2.1'></script>
<script type='text/javascript'>/*  */
  var campaignifySettings = {"l10n":[],"ajaxurl":"https:\/\/mayone.us\/wp-admin\/admin-ajax.php","page":{"is_campaign":true,"is_single_comments":false,"is_blog":false},"campaignWidgets":{"widget_campaignify_hero_contribute":true,"widget_text":true,"widget_campaignify_campaign_video":true},"security":{"gallery":"6224c2b490"}};
  /*  */</script>
<script type='text/javascript' src='/wp-content/themes/campaignify/js/campaignify.js?ver=20130603'></script>
<script type="text/javascript">
  setInterval(function(){jQuery.ajax('https://pledge.mayone.us/total?callback=totalRaisedCB', {dataType:'script'});}, 60000);
</script>
